@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@font-face {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    src: url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
}

html,
body {
    margin: 0;
    min-height: 100%;
    min-width: 100%;
    padding: 0;
    /* background-color: #818181; */
    /* background-color: #eee; */
    /* background-image: linear-gradient(to top, #6a85b6 0%, #bac8e0 100%); */
    /* background: #2c3e50;  */
    background: -webkit-linear-gradient(to right, #3498db, #2c3e50);  
    background: linear-gradient(to right, #3498db, #2c3e50); 
    /* background-color: #3f3f3f; */
}

body {
    width: 100vw;
    min-height: 100vh;
    color: white;
}

* {
    box-sizing: border-box;
}

#root {
    display: grid;
    /* grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto; */
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
    /* background-color: #2196F3; */
    padding: 10px;
}

.grid-item {
    /* background-color: #8cf022; */
    text-align: center;
    padding: 20px;
    font-size: 18px;
    width: 100%;
}

.search {
    grid-row: 1;
    grid-column: 1/ span 12;
}

.temp {
    grid-row: 2;
    grid-column: 1/ span 3;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.date {
    grid-row: 2;
    grid-column: 4/span 6;
    align-items: center;
}

.more-info {
    grid-row: 2;
    grid-column: 10/span 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.week {
    grid-row: 3;
    grid-column: 1/span 12;
    display: flex;
    flex-direction: row;
}

/* input */
input {
    width: 500px;
    height: 40px;
    text-align: center;
    border: 2px solid #F1F1F1;
    border-radius: 50px;
    padding: 0 15px;

}

#submit {
    width: 100px;
    height: 40px;
    border: 2px solid #F1F1F1;
    border-radius: 50px;

}

.clock {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

.clock-text {
    display: flex;
    flex-direction: column;
    margin: 5px;
    justify-content: center;
    align-items: center;
    /* background: #f00; */
    width: 300px;
    height: 300px;
    flex-shrink: 0;
    border-radius: 50%;
    text-align: center;
    border: solid;
    box-shadow: rgba(255, 255, 255, 0.25) 0px 54px 55px, rgba(255, 255, 255, 0.12) 0px -12px 30px, rgba(255, 255, 255, 0.12) 0px 4px 6px, rgba(255, 255, 255, 0.17) 0px 12px 13px, rgba(255, 255, 255, 0.09) 0px -3px 5px;
}


.wrapper {
    /* position: absolute;
    top: 50%;
    left: 50%; */
    width: 100vw;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* margin: -150px 0 0 -317.578px; */
}

.widget {
    position: relative;
    display: inline-block;
    box-sizing: content-box;
    width: 100px;
    height: 100px;
    padding: 36px;
    border-radius: 6px;
    
    /* background-color: #fff; */
    /* box-shadow: 0 0 15px #ddd; */
}

.widget>div {
    font-weight: 300;
    position: absolute;
    bottom: 36px;
    color: #ffffff;
}

.degree {
    font-size: 4em;
}

.sub-degree {
    font-size: 4em;
    color: #b8b8b8;
}

.country {
    font-size: 1em;
    line-height: 10px;
    color: #cbcbcb;
}

.icon {
    float: right;
}

.down{
    color: #ff3700;
}
.up{
    color: #11ff00;
    
}

.dailyWidget{
    /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */
    box-shadow: rgba(255, 252, 252, 0.16) 0px 1px 4px;
    /* box-shadow: rgba(255, 255, 255, 0.25) 0px 54px 55px, rgba(255, 255, 255, 0.12) 0px -12px 30px, rgba(255, 255, 255, 0.12) 0px 4px 6px, rgba(255, 255, 255, 0.17) 0px 12px 13px, rgba(255, 255, 255, 0.09) 0px -3px 5px; */
    border: 0.5px solid gray;
}

 .dailyWidget:first-child{
    background-color: #000000;
    display: none;
} 
.city_name {
    display: flex;                /* Enables flexbox layout */
    align-items: center;          /* Vertically centers items */
    justify-content: center;      /* Horizontally centers items */
    text-align: center;           /* Centers text inside the div */
    padding: 10px;                /* Optional: Add some padding if needed */
}

.material-symbols-outlined {
    margin-right: 8px;            /* Optional: Add space between the icon and text */
}
.more-info-flex{
    display: flex;
    flex-direction: column;
    
}